body {
  font-family: sans-serif;
  margin: 0;
}

.purple {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 1.5rem;
  color: white;
  width: 200px;
  height: 40px;
  background-color: #4361ee;
  border-radius: 5px;
  border-style: none;
  box-shadow: 0 3px 5px 0 #4361ee;
}

.purple:hover {
  cursor: pointer;
}

.container.off {
  display: none;
  position: relative;
  background-color: rgb(0 1 1 / 80%);
  height: 800px;
  bottom: 50px;
}

.container.on {
  position: relative;
  background-color: rgb(0 1 1 / 80%);
  height: 800px;
  bottom: 50px;
}

.alert {
  position: absolute;
  top: 300px;
  left: 450px;
  padding-top: 50px;
  text-align: center;
  width: 400px;
  height: 180px;
  background-color: #fffcf2;
  border-radius: 10px;
}

.alert-button {
  margin-top: 10px;
  font-size: 1.5rem;
  color: white;
  width: 80px;
  height: 40px;
  background-color: #bf4342;
  border-radius: 5px;
  border-style: none;
  box-shadow: 0 3px 5px 0 #bf4342;
}

.alert-button:hover {
  cursor: pointer;
}
