body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: rgb(231 229 226);
}

#light-switch {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.active-light {
  background-color: rgb(244 235 129);
  box-shadow: 0 0 15px rgb(244 235 12);
}

.inactive-light {
  background-color: rgb(33 33 33);
  box-shadow: 0 -15px 2px rgb(0 0 0);
}
